.doctor-detail-container{
    border: 3px solid purple;
    height: 100%;
    .doctor-intro{
        border: 1px solid gree;
        width: 1170;
        margin: 0 auto;
        padding: 0 15px;
        .doctor-img{

        }
        .doctor-desc{

        }
    }
    .doctor-schedule{}
    .doctor-detail-info{}
    .doctor-comment{}
}