.doctor-detail-container{
    border: 3px solid purple;
    height: 100%;
    width: 100%;
    .doctor-intro{
        border: 1px solid greenyellow;
        width: 1170px;
        height: 135px;
        margin: 15px auto;
        padding: 0 15px;
        .doctor-img{

        }
        .doctor-desc{

        }
    }
    .doctor-schedule{}
    .doctor-detail-info{}
    .doctor-comment{}
}