.remedy-modal-container {
    .remedy-modal-content {
        padding: 10px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        .remedy-modal-header {
            height: fit-content;
            border-bottom: 1px solid #ccc;
            padding: 3px 10px 7px 10px;
            .left {
                color: #4b4b4b;
                text-transform: uppercase;
                font-weight: bold;
            }
            .right {
                color: #666;
                float: right;
                font-size: 16px;
                cursor: pointer;
            }
        }
        .remedy-modal-body {
            height: fit-content;
            margin: 10px;
        }

            
        .remedy-modal-footer {
            height: fit-content;
            border-top: 1px solid #ccc;
            padding: 8px 10px 2px 10px;
            display: flex;
            justify-content: flex-end;
            .btn-info {
                margin-left: 15px;
            }
        }
    }
}
