.booking-modal-container{
    
    .booking-modal-content{
        padding: 10px;
        height: 400px;
        .booking-modal-header{
            height: fit-content;            
            border-bottom: 1px solid #ccc;
            padding: 3px 0 7px 0;
            .left{
                text-transform: uppercase;
                font-weight: bold;
                margin-left: 10px;
            }
            .right{
                color: red353b48;
                float: right;
                font-size: 16px;
                margin-right: 10px;
                cursor: pointer;
            }
        }
        .booking-modal-body{

        }
        .booking-modal-footer{
            height: 40px;
            border: 1px solid red;
        }
    }
}