.booking-modal-container{
    .booking-modal-content{
        
        height: 400px;
        .booking-modal-header{
            height: 40px;
            border: 1px solid green;
            .left{}
        }
        .booking-modal-body{

        }
        .booking-modal-footer{
            height: 40px;
            border: 1px solid red;
        }
    }
}