.verify-email-container{
    .text-verify{
        color: #666;
        margin-top: 60px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
}
.note-verify{
    font-size: 12px;
    margin-top: 60px;
    text-align: center;
    a{
        text-decoration: unset;
    }
}