.manage-doctor-container{
    padding: 20px;
    .more-info-doctor{
        display: flex;
        .content
    }
    .manage-doctor-title{
        text-align: center;
        margin: 15px 0;
        font-size: 20px;
        text-transform: uppercase;
    }
    .manage-doctor-edit{

    }    
}