#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    td,
    th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    tr:hover {
        background-color: #ddd;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04aa6d;
        color: white;
    }
}

.btn-edit{
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: orange;
    &:hover{
        background-: transparent !important;
    }
    i {
        font-size: 18px;
    }
}
