.manage-specialty-container{
    padding: 30px;
    .manage-specialty-title{
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: ;
    }
    .add-new-specialty{

    }
}