.detail-specialty-container{
    .description-specialty-main{
        padding: 15px 0;
        height: fit-content;
        .description-specialty{
            width: 1170px;
            padding: 10px 15px;
            margin: 0 auto;
            height: 300px;
            border: 1px solid red;
        }
    }
    .each-doctor{
        .content-left{}
        .content-left{}
    }
}