.detail-specialty-container{
    .description-specialty-main{
        padding: 15px 0;
        height: fit-content;
        .description-specialty{
            width: 1170px;
            padding:  15px;
            margin: 0 auto;
        }
    }
    
}