.detail-specialty-container{
    .description-specialty-main{
        p;
        .description-specialty{
            width: 1170px;
            padding: 25px 15px;
            margin: 0 auto;
        }
    }
    
}