.detail-specialty-container{
    .description-specialty-main{
        padding: 15px 0;
        height: fit-content;
        .description-specialty{
            width: 1170px;
            padding: 10px 15px;
            margin: 0 auto;
            height: 300px;
            border: 1px solid red;
        }
    }
    .each-doctor{
        height: fit-content;
        border: 1px solid greenyellow;
        display: flex;
        width: 1170px;
        margin: 0 auto;
        padding: 0 15px;
        margin-bottom: 12px;
        .content-left{
            width: 50%;
        }
        .content-right{
            padding: 10px;
            width: 50%;
            .content-right-up{

            }
            .content-right-down{
                
            }
        }
    }
}