.manage-schedule-container{

    .manage-schedule-title{
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 25px;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
    }

    .container{
        .choose-hour-container{
            margin-top: 25px;
            height: 180px;            
            border: 1px solid #ccc;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            .btn-time{
                margin: 7px 10px 7px 0px;
                padding: 10px 15px;
                border: none;
                outline: none;
                background-color: #fff8ae;
                font-weight: 600;
                &.active{
                    background-color: #45c3d2;
                    co
                }
                &:hover{
                    background-color: #45c3d2;
                    color: white;
                    // color: #22a6b3;
                }
            }
        }
    }

}