.manage-patient-container{
    padding: 30px;
    .manage-patient-title{
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .manage-patient-content{
        .table-manage-patient{
            
        }
    }
}