.home-header-container{
    height: 80px;
    width: 100%;
    padding: 0 30px;

    .home-header-content{
        height: 100%;
        width: 100%;
        display: flex;
        .left-content{
            width: 25%;
            border: 1px solid red;
            display: flex;
            align-items: center;
            i{
                font-size: 30px;
                padding: 0 20px;
            }
            .header-logo{
                margin: 0 0 20px 1px ;
                background: url('../../assets/logo.svg') center center no-repeat;
                height: 100%;
                width: 100%;
            }
        }
        .center-content{
            width: 50%;
            border: 1px solid yellow;
        }
        .right-content{
            width: 25%;
            border: 1px solid pink;
        }
    }
}